<div class="container-fluid m-5">
  <h3>Log In</h3>

  <form
    [formGroup]="logIn"
    #f
    (ngSubmit)="signIn(mobile.value, password.value)"
  >
    <div class="mb-3">
      <label for="exampleInputMobile" class="form-label">Mobile No.</label>
      <input
        type="tel"
        class="form-control"
        placeholder="Enter Mobile"
        #mobile
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter Password"
        #password
      />
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
