<div class="container" *ngFor="let product of productList">
  <div class="card m-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.desc }}
      </p>
      <h3>{{ product.price }}</h3>
      <input
        type="submit"
        value="Add to Cart"
        (click)="addToCart(product.name, product.desc, product.price)"
      />
    </div>
  </div>
</div>
<div class="containe m-5">
  <h3>Cart Items and Total = {{ cartTotal }}</h3>
  <div class="container" *ngFor="let product of cartProduct">
    <div class="card m-2" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          {{ product.desc }}
        </p>
        <h3>{{ product.price }}</h3>
        <!-- <input
        type="submit"
        value="Add to Cart"
        (click)="removeFrom(product.name, product.desc, product.price)"
      /> -->
      </div>
    </div>
  </div>
  <!-- <h3>Total price = {{ totalPrice }}</h3> -->
</div>
